body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.loader{
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.404));
}

.loader::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 35px;
  z-index: -2;
  background-color: rgb(0, 174, 255);
  border-radius: 4px;
  animation: after .6s ease-in-out infinite alternate;
}

.loader::before{
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 80px;
  z-index: -1;
  background-color: rgb(17, 0, 255);
  border-radius: 4px;
  animation: before .6s ease-in-out infinite alternate;
}

@keyframes after{
  0%{
    transform: translate(-15px);
    opacity: .6;
  }
  100%{
    transform: translate(10px);
  }
}

@keyframes before{
  0%{
    transform: translate(50px);
    opacity: .7;
  }
  100%{
    transform: translate(10px);
    
  }
}

.loader span:nth-child(1){
  animation: dot1 .4s ease-in-out infinite alternate;
}

.loader span:nth-child(2){
  animation: dot2 .4s ease-in-out infinite alternate;
  animation-delay: .1s;
}

.loader span:nth-child(3){
  animation: dot3 .4s ease-in-out infinite alternate;
  animation-delay: .2s;
}

@keyframes dot1{
  100%{
    opacity: 0;
  }
}

@keyframes dot2{
  100%{
    opacity: 0;
  }
}

@keyframes dot3{
  100%{
    opacity: 0;
  }
}
